@import "src/variables";

.header {
  box-sizing: border-box;
  font-family: 'Josefin Slab', serif;
  padding: 0 2rem;
  width: 100%;
  min-height: $main_header_height;
  background: $main_header_bgColor;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;

  a {
    color: $main_header_txtColor;
  }

  .person {
    color: $main_header_txtColor;
    cursor: pointer;
    font-size: 2rem;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  &__logo {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
    z-index: 100;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  width: 8%;
  height: 100vh;
  border-right: solid .5px $main_header_bgColor;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem 0 1rem;
    gap: 1rem;

    .icon {
      color: #9f8ae0;
      cursor: pointer;
      font-size: 2rem;

      &:hover,
      &:active,
      &:focus {
        color: aquamarine;
        outline: none;
        border: none;
      }
    }
  }
}
