@import "src/variables";

:host {
  margin-top: $main_header_height;
  margin-left: $main_aside_width;
  text-align: start;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.search-input {
  width: inherit;

  .search-input__label {
    color: $main_gray;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }

  .search-input__icon {
    color: $main_gray;
  }
}

.search__content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  &__card {
    @include photoCard;
  }

  &-content {
    @include card-content;
  }
}
