<div class="search">
  <app-search
    (onEmitSearchTerm)="searchTermChange($event, per_page, page)"
  ></app-search>
</div>
<mat-paginator
  [length]="resultsLength"
  [pageSize]="per_page"
  (page)="clickOnArrow($event)"
></mat-paginator>
<div class="search__content">
  <div *ngFor="let photo of qwerty$ | async">
    <mat-card class="search__content__card">
      <div class="search__content__card__photo">
        <img src="{{ photo.url }}_m.jpg" />
      </div>
      <mat-card-content
        class="search__content__card-content"
        matTooltip="{{ photo.title }}"
        matTooltipPosition="below"
        >{{ photo.title }}</mat-card-content
      >
      <mat-form-field class="example-chip-list">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip
            *ngFor="let tag of photo.tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(tag, photo)"
          >
            {{ tag.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New tag..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, photo)"
          />
        </mat-chip-list>
      </mat-form-field>
      <button
        class="action"
        mat-stroked-button
        color="primary"
        (click)="addToBookmarks(photo)"
      >
        Bookmark it
      </button>
    </mat-card>
  </div>
</div>

<div>{{ qwerty$ | async }}</div>
