<p>
  <mat-form-field class="search-input">
    <mat-label class="search-input__label">
      Search
      <mat-icon class="search-input__icon" fxLayoutAlign="center center"
        >search</mat-icon
      >
    </mat-label>
    <input
      class="form-control"
      matInput
      type="text"
      (keyup)="search($event)"
      [formControl]="searchTerm"
    />
  </mat-form-field>
</p>

<div>
  <div *ngFor="let image of images">
    <mat-card>
      <a href="{{ image.url }}_b.jpg">
        <img src="{{ image.url }}_m.jpg" title="{{ image.title }}" />
      </a>
    </mat-card>
  </div>
</div>
