<div class="bookmarks__content">
  <mat-list-item class="photo_list" *ngFor="let photo of photos">
    <mat-card class="bookmarks__content__card">
      <div class="bookmarks__content__card__photo">
        <img src="{{ photo.url }}_m.jpg" />
      </div>
      <mat-card-content
        class="bookmarks__content__card-content"
        matTooltip="{{ photo.title }}"
        matTooltipPosition="below"
        >{{ photo.title }}</mat-card-content
      >
      <mat-chip-list
        class="test"
        cdkDropList
        cdkDropListOrientation="horizontal"
      >
        <mat-chip *ngFor="let tag of photo.tags">
          {{ tag.name }}
        </mat-chip>
      </mat-chip-list>
      <button
        class="action"
        mat-stroked-button
        color="primary"
        (click)="deletePhoto(photo)"
      >
        Delete it
      </button>
    </mat-card>
  </mat-list-item>
</div>
