<p>
  <mat-list-item class="photo_list" *ngFor="let photo of photos$ | async">
    <mat-card class="search__content__card">
      <a href="{{ photo.url }}_b.jpg">
        <img src="{{ photo.url }}_m.jpg" title="{{ photo.title }}" />
      </a>
      <mat-card-content class="search__content__card-content">{{
        photo.title
      }}</mat-card-content>
      <button
        class="action"
        mat-stroked-button
        color="primary"
        (click)="deletePhoto(photo)"
      >
        Delete it
      </button>
    </mat-card>
  </mat-list-item>
</p>
