<h2 mat-dialog-title class="session_expired-title">Sorry!</h2>
<mat-dialog-content class="session_expired">
  <div class="session_expired__icon">
    <mat-icon class="icon">timelapse</mat-icon>
  </div>
  <div class="session_expired__info">
    <h3 class="session_expired__info__title">Session expired</h3>
    <p class="session_expired__info__description">
      Your session has expired because you have been inactive for minute :(
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
