$main_header_height: 3.4rem;
$main_aside_width: 7.4rem;
$main_header_bgColor: #7B1FA2;
$second_violet_color: #a65ac7;
$main_gray: #b4b4b4;
$main_dark_color: #313237;
$main_header_txtColor: #fff;


@mixin photoCard {
  width: 250px;
  height: 320px;
  overflow: auto;


  &__photo {
    img {
      object-fit: cover;
      width: 100%;
      height: 10rem;
    }
  }
}

@mixin card-content {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $main_gray;
}
